<% layout('../layouts/boilerplate') %>
<h1 class="mb-5">Study Group</h1>
<% for(const subject of subjects) { %>
<a href="/groups/<%=subject %>"><%=subject %> </a>
<% } %>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <% for(let group of groups) { %>
  <div class="col">
    <div class="card">
      <!-- <img src=" ..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><%=group.title %></h5>
        <p class="card-text"><%=group.subject%></p>
        <p class="card-text"><%=group.location%></p>
        <a href="/groups/<%=group._id %>" class="btn btn-primary">View Group</a>
      </div>
    </div>
  </div>
  <% } %>
</div>
