<% layout('../layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center my-5">Edit Study Group</h1>
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <form
      action="/groups/<%=group._id%>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="group[title]"
          placeholder="title"
          value="<%=group.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <% if(group.online === 'y'){ %>
        <input
          class="form-check-input"
          type="checkbox"
          name="group[online]"
          value="y"
          id="online"
          checked
        />
        <% } else { %>
        <input
          class="form-check-input"
          type="checkbox"
          name="group[online]"
          value="y"
          id="online"
        />
        <% } %>
        <label class="form-check-label" for="online"> Online </label>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <label for="subject">Subject</label>
          <input
            type="text"
            class="form-control"
            placeholder="subject"
            name="group[subject]"
            id="subject"
            value="<%=group.subject %>"
            required
          />
        </div>
        <div class="col-4">
          <label for="times">Times(w)</label>
          <input
            type="text"
            class="form-control"
            placeholder="/week"
            name="group[times]"
            id="times"
            value="<%=group.times %>"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="group[location]"
          placeholder="location"
          value="<%=group.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Change image</label>
        <input type="file" class="form-control" id="image" name="image" />
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="group[description]"
          required
        >
<%=group.description %></textarea
        >
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
