<% layout('../layouts/boilerplate') %>
<div class="container-md">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="<%= group.image.url %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title ps-3">
            <%=group.title %> <% if(group.online==='y' ) { %>
            <span class="fs-6 badge text-wrap bg-primary"> online </span>
            <% } %>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%=group.subject %></li>
            <li class="list-group-item"><%=group.location %></li>
            <li class="list-group-item"><%=group.times %> / week</li>
          </ul>
          <p class="card-text ps-2"><%=group.description %></p>
          <% if(currentUser && group.leader.equals(currentUser._id)){ %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a
              href="/groups/<%=group._id %>/edit "
              class="btn btn-secondary me-md-2"
              >Edit</a
            >
            <a href="/" class="btn btn-danger">Delete</a>
          </div>
          <% } %>
        </div>

        <div class="card-body text-center">
          <a href="#" class="card-link">View members</a>
          <!-- <form method="post" action="/groups/join"> -->
            <a href="/groups/<%=group._id %>/join" class="card-link">Join</a>
            <!-- <button>Join</button> -->
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <div class="card">
        <div class="card-header py-3 text-bold">
          Members of <%=group.title %> 
        </div>
        <ul class="list-group list-group-flush">
          <% for(const member of group.members) {%> 
          <li class="list-group-item"><%=member.username %> </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </div>
</div>
